# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Node
node_modules/
npm-debug.log*

# Environment
.env
.env.*

# Archives
*.zip
*.tar.gz

# Editor
.vscode/
.idea/
*.DS_Store

# Logs
*.log
